h1{
    color: #051138;
    margin-left: 5%;
}

body{
    background-image:url(tmd/FullSizeRender.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.Introduction{
    font-size: 20px;
    color:#3a63cb;
} 


.Hobbies{
    font-size: 20px;
    color:#3a63cb;
}


.Contact{
    font-size: 20px;
    color:#3a63cb;
}

p{
    font-size: 18px;
    color:#1a2656;
}
.tt img{
    float: right;
    margin-right: 10%;
    margin-top:2%;
}

.relationship-article img{
    float: right;
    margin-right: 10%;
    margin-top:2%;
}

hr{
    color: #0d0c3d;
    margin:0 5%;
}

article{
    margin-left: 5%;
}


a{
    font-size: 20px;
    font-weight: bold;
    color:#0a2b7d;
    text-decoration: none;
}



a:hover{
    color:#FFF;
}

.relationship-article p{
    text-align: justify;
    max-width: 65%;
}

.relationshipsh1{
    margin-top: 3%;
}



.junior23{
    position: relative;
    display:flex;
    margin-top: 10%;
    justify-content: space-between;
}

.junior{
    float: right;
    margin-right: 10%;
}